.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.wrapper {
    transform:scale(75%);
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
    justify-content: center;
  align-items: center;
}
.upload-files-container {

  width: 100%;
  padding: 30px 60px;
  border-radius: 40px;
  display: flex;
    align-items: center;
    justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}
.drag-file-area {
  border: 2px dashed #7b2cbf;
  border-radius: 40px;
  margin: 10px 0 15px;
  padding: 30px 50px;
  width: 100%;
  text-align: center;
}
.drag-file-area .upload-icon {
  font-size: 50px;
}
.drag-file-area h3 {
  font-size: 26px;
  margin: 15px 0;
}
.drag-file-area label {
  font-size: 17px;
}
.drag-file-area label .browse-files-text {
  color: #7b2cbf;
  font-weight: bolder;
  cursor: pointer;
}
.browse-files span {
  position: relative;
  top: -25px;
}
.default-file-input {
  opacity: 0;
}
.cannot-upload-message {
  background-color: #ffc6c4;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 5px 10px 5px 30px;
  border-radius: 5px;
  color: #BB0000;
  display: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
  padding-right: 10px;
}
.cannot-upload-message span:last-child {
  padding-left: 20px;
  cursor: pointer;
}
.file-block {
  color: #f7fff7;
  background-color: #7b2cbf;
    transition: all 1s;
  width: 390px;
  position: relative;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}
.file-info {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.file-icon {
  margin-right: 10px;
}
.file-name, .file-size {
  padding: 0 3px;
}
.remove-file-icon {
  cursor: pointer;
}
.progress-bar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 4.5%;
  width: 0;
  height: 5px;
  border-radius: 25px;
  background-color: #4BB543;
}
.upload-button {
  background-color: #7b2cbf;
  color: #f7fff7;
  display: flex;
  align-items: center;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  padding: 7.5px 50px;
  cursor: pointer;
}

.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.outline-gray-button-container {
  display: flex;
  position: relative;
}
.outline-gray-button-button {
  color: var(--dl-color-secondary-200);
  outlinr: none;
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-color: var(--dl-color-secondary-200);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.outline-gray-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.feature-card-container {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: var(--dl-space-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-space-space-triplequarterunit);
  padding-right: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.feature-card-image {
  height: 30px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.feature-card-text {
  color: var(--dl-color-secondary-600);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.feature-card-text1 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-root-class-name {
  align-self: stretch;
  margin-left: 0px;
}
.feature-card-root-class-name1 {
  align-self: stretch;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
}
.feature-card-root-class-name2 {
  align-self: stretch;
  margin-left: 0px;
}
.feature-card-root-class-name3 {
  align-self: stretch;
  margin-left: 0px;
}
.feature-card-root-class-name4 {
  align-self: stretch;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
}
.feature-card-root-class-name5 {
  align-self: stretch;
  margin-left: 0px;
}
@media(max-width: 767px) {
  .feature-card-container {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    width: 100%;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.home-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: hsla(0,0%,100%,.8)!important;
}
.home-container01 {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-navlink {
  color: var(--dl-color-secondary-700);
  font-style: normal;
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: row;
}
.home-link {
  z-index: 150;
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.home-link:hover {
  font-style: normal;
  font-weight: 600;
}
.home-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.home-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.home-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  border-radius: 2px;
}
.home-dropdown:hover {
  background-color: #e2b6ff;
}
.home-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #c172d5;
}
.home-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.home-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #c172d5;
}
.home-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.home-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #c172d5;
}
.home-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-link1 {
  z-index: 100;
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: "Open Sans";
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-secondary-400);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-halfunit);
  animation-name: none;
  text-transform: none;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-link1:hover {
  font-style: normal;
  font-family: Open Sans;
  font-weight: 600;
}
.home-link2 {
  z-index: 100;
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: "Open Sans";
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-secondary-400);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.home-link2:hover {
  font-style: normal;
  font-family: Open Sans;
  font-weight: 600;
}
.home-container02 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container03 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.home-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandahalfunit);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-navlink1 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  text-decoration: none;
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon2 {
  width: 24px;
  height: 24px;
}
.home-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-menu1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-navlink2 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-navlink2:hover {
  color: var(--dl-color-gray-500);
}
.home-text05 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-text05:hover {
  color: var(--dl-color-gray-500);
}
.home-text06 {
  transition: 0.3s;
  text-decoration: none;
}
.home-text06:hover {
  color: var(--dl-color-gray-500);
}
.home-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.home-container04 {
  width: 1166px;
  display: flex;
  position: relative;
  max-width: 1320px;
  min-height: 85vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-card {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.8);
}
.home-text07 {
  text-align: center;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text08 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.home-text09 {
  color: var(--dl-color-secondary-600);
  text-align: justify;
  margin-right: var(--dl-space-space-unitandahalfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
}
.home-container05 {
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container06 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-link3 {
  display: contents;
}
.home-component1 {
  text-decoration: none;
}
.home-link4 {
  display: contents;
}
.home-component2 {
  text-decoration: none;
}
.home-features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1320px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.home-text10 {
  font-size: 3rem;
  align-self: center;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-text13 {
  text-align: justify;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text18 {
  text-align: justify;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
}
.home-container08 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 80vh;
  position: absolute;
  object-fit: cover;
  object-position: right;
  border-bottom-left-radius: 10rem;
}
.home-stats {
  width: 100%;
  display: grid;
  grid-gap: 32px;
  max-width: 100%;
  align-self: center;
  padding-top: 48px;
  padding-left: var(--dl-space-space-twelveunits);
  padding-right: var(--dl-space-space-twelveunits);
  padding-bottom: 48px;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text23 {
  color: var(--dl-color-gray-white);
  font-size: 3em;
}
.home-text24 {
  color: var(--dl-color-gray-900);
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: bold;
}
.home-text25 {
  color: var(--dl-color-secondary-100);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text26 {
  color: rgb(255, 255, 255);
  font-size: 3em;
}
.home-text27 {
  color: var(--dl-color-gray-900);
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: bold;
}
.home-text28 {
  color: var(--dl-color-secondary-100);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text29 {
  color: var(--dl-color-gray-white);
  font-size: 3em;
}
.home-text30 {
  color: var(--dl-color-gray-900);
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: bold;
}
.home-text31 {
  color: var(--dl-color-secondary-100);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text32 {
  color: var(--dl-color-gray-white);
  font-size: 3em;
}
.home-text33 {
  color: var(--dl-color-gray-900);
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: bold;
}
.home-text34 {
  color: var(--dl-color-secondary-100);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-text35 {
  font-size: 3rem;
  align-self: center;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text36 {
  align-self: stretch;
  text-align: justify;
  margin-left: var(--dl-space-space-twelveunits);
  margin-right: var(--dl-space-space-twelveunits);
}
.home-features1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unitandahalfunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unitandahalfunit);
  justify-content: flex-start;
  background-color: #e5e5e5;
}
.home-text37 {
  font-size: 3rem;
  align-self: center;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-container09 {
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-tool {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  max-width: 1320px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-container10 {
  height: 230px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text38 {
  font-size: 3rem;
  margin-top: 0px;
  margin-left: -6rem;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text39 {
  color: rgb(0, 0, 0);
  margin-top: var(--dl-space-space-halfunit);
  font-weight: bold;
  margin-left: 2.6rem;
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: 0px;
}
.home-container11 {
  flex: 0 0 auto;
  width: 467px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 231px;
  display: flex;
  align-items: flex-start;
}
.home-about-us {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 1;
  max-width: 1320px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-container13 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-text40 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
}
.home-text41 {
  color: var(--dl-color-gray-white);
  width: 871px;
  opacity: 0.8;
  text-align: justify;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-container14 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image1 {
  width: 40px;
  opacity: 1;
  object-fit: cover;
  transition: 0.3;
  border-radius: var(--dl-radius-radius-radius75);
}
.home-image1:hover {
  transform: scale(1.2);
}
.home-container15 {
  flex: 0 0 auto;
  width: 1px;
  height: 25px;
  display: flex;
  opacity: 0.8;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-image2 {
  width: 40px;
  opacity: 1;
  object-fit: cover;
  transition: 0.3;
  border-radius: var(--dl-radius-radius-radius75);
}
.home-image2:hover {
  transform: scale(1.2);
}
.home-container16 {
  flex: 0 0 auto;
  width: 1px;
  height: 25px;
  display: flex;
  opacity: 0.8;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-image3 {
  width: 40px;
  object-fit: cover;
  transition: 0.3;
  border-radius: var(--dl-radius-radius-radius75);
}
.home-image3:hover {
  transform: scale(1.2);
}
.home-image4 {
  top: auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 447px;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-nav {
    max-width: 960px;
  }
  .home-menu {
    display: none;
  }
  .home-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-container04 {
    max-width: 960px;
  }
  .home-card {
    width: 100%;
  }
  .home-features {
    max-width: 960px;
  }
  .home-text23 {
    text-align: center;
  }
  .home-text26 {
    text-align: center;
  }
  .home-text29 {
    text-align: center;
  }
  .home-text32 {
    text-align: center;
  }
  .home-features1 {
    max-width: 1320px;
  }
  .home-tool {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container12 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    justify-content: center;
  }
  .home-container13 {
    align-items: center;
  }
}
@media(max-width: 767px) {
  .home-burger-menu {
    display: flex;
  }
  .home-card {
    align-items: center;
  }
  .home-text09 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-features {
    max-width: 720px;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-image {
    display: none;
  }
  .home-stats {
    padding-left: 32px;
    padding-right: 32px;
    grid-template-columns: 1fr 1fr;
  }
  .home-text24 {
    text-align: center;
  }
  .home-text27 {
    text-align: center;
  }
  .home-text30 {
    text-align: center;
  }
  .home-text33 {
    text-align: center;
  }
  .home-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-features1 {
    max-width: 720px;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container10 {
    width: 80%;
  }
  .home-container12 {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}
@media(max-width: 479px) {
  .home-container03 {
    display: none;
  }
  .home-card {
    padding: var(--dl-space-space-unit);
  }
  .home-container05 {
    align-items: center;
    flex-direction: column;
  }
  .home-container06 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-features {
    width: 100%;
  }
  .home-stats {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
    grid-template-columns: 1fr;
  }
  .home-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-features1 {
    width: 100%;
  }
  .home-container12 {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
}
